<section *ngIf="transferencias.length > 0; else listaVazia">

  <h2 class="titulo">{{ 'Extrato(s)' | uppercase }}</h2>

  <input class="search" type="text" placeholder="Pesquise por uma transferência..." [(ngModel)]="filterData" />

  <table class="tabela" border="0">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Nome</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
      <th class="tabela__cabecalho__conteudo">Data</th>
    </thead>
    <tbody class="tabela__corpo">
      <tr class="tabela__linha" *ngFor="let transferencia of transferencias | filter: filterData">
        <td class="tabela__conteudo">{{ transferencia.nome }}</td>
        <td class="tabela__conteudo">{{ transferencia.valor | currency }}</td>
        <td class="tabela__conteudo">{{ transferencia.destino }}</td>
        <td class="tabela__conteudo">{{ transferencia.data | date: 'short' }}</td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #listaVazia>
  <div class="feedback">
    <img class="feedback__illustration" src="../../assets/illustration.svg" alt="">
    <p class="feedback__message">Nenhum dado encontrado. Por favoz, cadastre uma nova transferência.</p>
  </div>
</ng-template>
